:root{
    --background: #F7FFF7;
    --darkGreen: #1A535C;
    --lightGreen: #FFE66D;
    --yellow: #C4F6F3;
    --red: #FF6B6B;

    --global-font-family: Poppins;
    --global-font-family: Lato;



}
